<!DOCTYPE html>
<head>
	<title>
		Mongolian School of Colorado
	</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/mongolianschool.css">
<!-- 	font -->
	<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script src ="stylesheets/mongolianschool.js"></script>

</head>
<body>
<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

	<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
			<!-- horizontal menu -->
			<header>
			<div id="horizontalmenu">
				<ul>
				  <li><a href="#section1">Home</a></li>
				  <li><a href="#section2">Our Curriculum</a></li>
				  <li><a href="#section3">Enrichment</a></li>
				  <li><a href="#section4">Schedule</a></li>
				  <li><a href="#section5">Contact</a></li>
				  <li>

				  	
				</li>
				</ul>


			</div>
			</header>

	<!-- welcome -->
	<div id="section1">
<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

				<h2>
	   			
	        		Welcome to Mongolian School of Colorado! 
	        	
	    		</h2>

	    		<a href="https://www.facebook.com/pages/Mongolian-School-Of-Colorado/200061846726686">
					<img id= "facebooklogo" src="stylesheets/facebook.jpg">
					</a>

				<h6>
				Өсөхөөс сурсан үндэсний хэл Мартаж болшгүй соёл <br/> Үхтэл орших төрөлх нутаг Салж болшгүй орон <br/> -Д.Нацагдорж
				</h6>

					<!-- slideshow -->
					<center>
						<div class="fadein">
							  <img src="stylesheets/slideshowpic2.jpg">
							  <img src="stylesheets/slideshowpic3.jpg">
							  <img src="stylesheets/slideshowpic4.jpg">
							  <img src="stylesheets/slideshowpic1.jpg">
							  <img src="stylesheets/slideshowpic5.jpg">
							  <img src="stylesheets/slideshowpic6.jpg">
							</div>
					</center>



			
	</div>

	

	



	<div id="section2">
		<center>
			<h1> Our Curriculum </h1>
		</center>
		<h3> Mongolian School of Colorado is dedicated to the preservation of the Mongolian language and culture within the younger generations. Students are put into different grade levels depending on their speaking, reading, and writing abilities of the Mongolian language. Students are exposed to Mongolian literature and culture at every lesson.  </br> We also celebrate traditional Mongolian and American holidays throughout the year.</h3>
	</div>

	<div id="section3">
		<center>
			<h1> Enrichment </h1>
		</center>
		<h3> We believe that enrichment is essential to the growth of our students. Thus, students are welcome to participate in our extracurricular enrichment activities: chess club, contortion/yoga, music, math classes, etc. 
		</h3>
	</div>
	<div id="section4">
		<center>
			<h1> Schedule and Location </h1>
			<h4> Every Saturday @ 10 am </h4>
			<h4> 1654 S Dayton St <br/> Denver, Colorado </h4>
			<h5> (official schedule will be distributed to registered students) </h5>
		</center>
		<h3> 
	</div>
	<div id="section5">
		<center>
		<h1> Contact </h1>
		<h3> Email: coloradomongolianschool@yahoo.com </h3>
		<h3> Phone: 720-232-1404 </h3>
		</center>
	</div>


<!-- slideshow
 -->

